
  @font-face {
    font-family: Lexend;
    src: url(fonts/Lexend_Tera/LexendTera-VariableFont_wght.ttf);
  }

  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    cursor: url(Images/star-vector-png-transparent-image-pngpix-21-197517459.png), auto;
  }
  
  .home-container {
      width: 100%;
      display: flex;
      overflow: auto;
      min-height: 100vh;
      align-items: center;
      flex-direction: column;
      background-size: cover;
      background-color: #ffffff;

    }

    .heading-text {
      font-family: megascope-variable;
      font-style: bold;
      text-align: center;
      font-weight: 400;
      font-size: 80px;
      color:rgb(0, 0, 0);
      letter-spacing: 20px;
      margin-top: 10px;
    
    }

    .heading-text02 {
      width: 100%;
      height: 45px;
      font-size: 40px;
      font-style: normal;
      text-align: center;
      font-weight: 500;
      margin-bottom: 40px;
      letter-spacing: 10px;
      color:rgb(0, 0, 0);
    }

    .body-text {
      width: 100%;
      font-size: 15px;
      font-style: normal;
      text-align: center;
      font-weight: 100;
      color:rgb(0, 0, 0);
    }
    
    .home-nav {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    .home-navbar-interactive {
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-twounits);
      justify-content: space-between;
    }
   
    .contact-container1 {
      width: 100%;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input[type=text], select, textarea {
      width: 800px;
      height: max-content;
      padding: 12px;
      border: 1px solid #000000;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-bottom: 40px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #5DADE2;
      color: white;
      padding: 12px 20px;
      border: 1px solid #000000;
      border-radius: 4px;
      width: 10000px;
    }

    .contact-button
    {
        margin-left: 350px;
        font-family: 'Lexend';
        height: auto;
        font-size: 15px;
        font-style: normal;
        text-align: center;
        font-weight: 200;
        color:rgb(0, 0, 0);
        background-color: #ffffff;
        padding: 12px 20px;
        border: 1px solid #000000;
        border-radius: 4px;
        width: 100px;
    }

    .nav-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      position: relative;
      background-color: var(--color2);
      font-size: 20px;
      letter-spacing: 7px;
  }
  
    .menu {
      display: flex;
    }
    .menu li {padding-left: 20px;}
    .menu li a {
      font-family: "Lexend";
      display: inline-block;
      text-decoration: none;
      color: var(--color1);
      transition: 0.15s ease-in-out;
      position: relative;
      text-transform: uppercase;
  }
  .menu li a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: var(--color1);
      transition: 0.15s ease-in-out;
  }
  .menu li a:hover:after {width: 100%;}
  .open-menu , .close-menu {
      position: absolute;
      color: var(--color1);
      cursor: pointer;
      font-size: 1.5rem;
      display: none;
  }
  .open-menu {
      top: 70%;
      right: 20px;
      transform: translateY(-50%);
  }
  .close-menu {
      top: 20px;
      right: 20px;
  }
  
  #check {display: none;}

    @media (max-width: 610px){

      .contact-container1
      {
        width: 30%;
        background-color: #5DADE2;
      }
      .contact-button
      {
          margin-left: 100px;
          height: auto;
          font-size: 15px;
          padding: 12px 20px;
          margin-bottom: 20px;
      }
        input[type=text], select, textarea {
          width: 300px;
          height: max-content;
          padding: 12px;
          margin-top: 20px;
          margin-bottom: 40px;
        }
     
    }

    @media (max-width: 1000px){

      .home-image {
        width: 300px;
        margin-left: 10px;
        margin-right: 30px;
        margin-bottom: 400px;
        
      }
      .home-image1 {
        width: 300px;
        margin-right: 10px;
        margin-left: 15px;
        margin-bottom: 400px;
      }

      .contact-button
    {
        margin-left: 100px;
        height: auto;
        font-size: 15px;
        padding: 12px 20px;
        margin-bottom: 20px;
    }
      input[type=text], select, textarea {
        width: 300px;
        height: max-content;
        padding: 12px;
        margin-top: 20px;
        margin-bottom: 40px;
      }
      
     

      .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        background-color: #4697bcf8;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;
    color: #ffffff;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {left: 0;}

    }
  

