

@font-face {
  font-family: Lead;
  src: url(Fonts/Tropi\ Land\ -\ \(Demo\)\ hanscostudio.com.ttf);
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  cursor: url(Images/star-vector-png-transparent-image-pngpix-21-197517459.png), auto;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #ffffff;

}

h1{
  font-family: Lead;
  font-style: bold;
  text-align: center;
  font-weight: 400;
  font-size: 80px;
  color:rgb(0, 0, 0);
  letter-spacing: 25px;
  margin-top: 0px;
  z-index: 3;

}


.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  text-align: center;
  letter-spacing: 15px;
  font-size: 35px;
  font-family: Lead;

}

.menu {
  display: flex;
}
.menu li {padding-left: 20px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 70%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}

.title-image{
  width:auto;
  height: 170px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.link-image{
  width:auto;
  height: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

.link-image:hover{

  filter: drop-shadow(4px 4px 6px rgb(0, 0, 0));
  transition: 0.05s ease-in-out;
}


.image-gallery {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-auto-rows: 250px;
    grid-gap: 10px;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  #image-gallery {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: 200px;
  }
}


      @media (max-width: 610px){

        main {
          margin-top: 30px;
        }

        .headerText{
          font-size: 30px;
          margin-bottom: 30px;
          margin-top: 15px;
          font-weight: 400;
          height: 30px;
          font-family: 'megascope-variable';
        }

        .home-text {
          position: absolute;
          font-style: normal;
          font-weight: 500;
          font-size: 23px;
          width: 40px;
          padding: 20px;
          margin-right: 50px;
          text-align: right;
          word-spacing: 7px;
        }
      }

       


#check {display: none;}


  .heading-text {
    font-family: megascope-variable;
    font-style: bold;
    text-align: center;
    font-weight: 400;
    font-size: 80px;
    color:rgb(0, 0, 0);
    letter-spacing: 20px;
    margin-top: 10px;
  
  }

  .heading-text02 {
    width: 100%;
    height: 45px;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 20px;
    color:rgb(0, 0, 0);
  }


  @media (max-width: 610px){

    .home-text {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      width: 40px;
      padding: 20px;
      margin-right: 30px;
      text-align: right;
      word-spacing: 7px;
    }
    .heading-text {
      font-size: 22px;
      margin-bottom: 0px;
      margin-top: 70px;
      font-weight: 400;
    }

    .heading-text02 {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .home-container2 {
      height: 100px;
      width: 70%;
    }

  
  }

  @media (max-width: 1000px){

    main {
      width: auto;
      padding-top: 60px;
      flex-direction: column; /* Arrange items vertically */
     /* height: 1024px; /* Example height */
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 50px;
      margin-top: 60px;
      display: flex;
      justify-content: center;
    }
    

    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 100;
      background-color: #4697bcf8;
      transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;
  color: #ffffff;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {left: 0;}

  }


  * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:900");
/**
  * style variables
*/
/**
  * Control & indicator mixin
*/
.carousel {
  height: 300px;
  width: 400px;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0;
  list-style: none;
/**
  * Where the magic happens
  */
/**
    * Control element - right/left arrows
  */
/**
    * Element for holding slide indicators
  */
/**
    * Indicator for indicating active slide
  */
/**
    * Create rules for when slides are contained within a track
  */
}
.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
  transform: translateX(0%);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
  transform: translateX(-100%);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
  transform: translateX(-200%);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
  transform: translateX(-300%);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
  transform: translateX(-400%);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  transform: rotate(45deg);
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease 0s;
}
.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(1) {
  transform: translateX(0%);
}
.carousel__track .carousel__slide:nth-of-type(2) {
  transform: translateX(100%);
}
.carousel__track .carousel__slide:nth-of-type(3) {
  transform: translateX(200%);
}
.carousel__track .carousel__slide:nth-of-type(4) {
  transform: translateX(300%);
}
.carousel__track .carousel__slide:nth-of-type(5) {
  transform: translateX(400%);
}
.carousel--scale .carousel__slide {
  transform: scale(0);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
}
/**
  * Theming
*/
* {
  box-sizing: border-box;
}
html,
body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
}
.carousel-container {
  display: inline-block;
}
.my-carousel {
  border-radius: 5px;
  margin: 30px;
}
.carousel__slide {
  overflow: hidden;
}
.carousel--thumb .carousel__indicator {
  height: 30px;
  width: 30px;
}
h1 {
  font-size: 50px;
  line-height: 50px;
  color: #fafafa;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -25px;
}
h2,
h3 {
  color: #fafafa;
}
h3 {
  font-size: 50px;
}
.carousel__indicator {
  background-color: #fafafa;
}
.carousel__slide:nth-of-type(1),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
  background-image: url("https://unsplash.it/300?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(2),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: url("https://unsplash.it/600?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(3),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
  background-image: url("https://unsplash.it/900?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(4),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
  background-image: url("https://unsplash.it/1200?random");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(5),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(5) {
  background-image: url("https://unsplash.it/1500?random");
  background-size: cover;
  background-position: center;
}
